<mat-card appearance="outlined" class="shadowcard">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>Small</mat-card-subtitle>
             </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
         
        </mat-card-content>
        <mat-card-footer>
        <button 
        class="btn btn-info mx-3 d-flex gap-2">
        <mat-icon>shopping_cart</mat-icon>
    </button>
        </mat-card-footer>
      </mat-card>
</mat-card>
