
<div class="w-100 justify-between-center">
  <mat-card appearance="outlined" class="shadowcard card ">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
      </div>
      <mat-card-title class="gap-2">I{{product.title}}</mat-card-title>
 
    
   
    </mat-card-header>
    <div class="w-100">
      <img class="justify-item-center" [width]="200" height="200" mat-card-image src={{product.image}} alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content>
      <p>
       {{product.description.slice(0,150)}}....<a href="#">ShowMore</a>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-icon class="d-flex justify-content-end">local_offer</mat-icon>
      {{product.price}}
    </mat-card-footer>
  </mat-card>
</div>