

<div class="container" style="background: aliceblue;">
    <div class="row h-50">
       
            <div >
                <app-category-card></app-category-card>
            </div>
        
    </div>
    <div class="row " style="margin-top: 30%;">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let product of productList1">
            <div (click)="popup(product)">

                <app-card [product]="product"></app-card>
            </div>
        </div>
    </div>
</div>

<div *ngIf="enablepopup">
    <div class="popup active" (click)="popdown()">
        <div class="popup-content" (click)="$event.stopPropagation()">
            <div class="d-flex">
                <div class="btn ml-auto" (click)="popdown()">
                  <mat-icon>close</mat-icon>
                </div>
              </div>
            <div class="popup-header">
                    {{popupproduct.title}}
            </div>
            <div class="popup-body">
                <div class="imagefeild">
                    <img [src]=popupproduct.image [width]="200" height="auto">
                </div>
                <div class="descriptionfeild">
                    <p class="text-right">
                        
                        {{popupproduct.description.slice(0,500)}}
                    </p>
                </div>
            </div>
            <div class="popup-footer d-flex flex-wrap justify-content-between align-items-center p-3">
                <div class="btn btn-primary d-flex align-items-center mb-2">
                    <mat-icon color="success" class="me-2">shopping_cart</mat-icon>
                    Add To Cart
                </div>
                <div class="btn btn-info d-flex align-items-center mb-2">
                    <mat-icon class="me-2">money</mat-icon>
                    Enquiry Price
                </div>
            </div>
            
        </div>
    </div>
</div>